<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title><%= title %></title>
  <meta name="description" content="<%= description %>" />
  <link rel="icon" href="./assets/images/fav.jpg" />
  <script src="./assets/js/script.js" defer></script>
  <link rel="stylesheet" href="./assets/stylesheets/style.css">
</head>

<body class="access">
<header class="l-header">
  <section class="p-header">
    <div class="p-header__wrap">
      
      <a class="p-header__logo" href="./index.html">
        <img src="./assets/images/logo.png" alt="サイトロゴ">
      </a>
      <button class="p-header__menuButton">
       
      <span class="p-header__menuButton--line"></span>  
      </button>

      <nav class="p-header__siteMenu">
        <ul class="p-header__menuList">
          <li class="p-header__menuItem">
            <div class="p-menuItem">
              <a href="./index.html" class="c-link">
                  <p class="p-menuItem__label__primary">劇場一覧</p>
                  <p class="p-menuItem__label__secondary">THEATERS</p>
              </a>
            </div>
          </li>

          <li class="p-header__menuItem">
            <div class="p-menuItem">
              <a href="./index.html" class="c-link">
                  <p class="p-menuItem__label__primary">作品一覧</p>
                  <p class="p-menuItem__label__secondary">MOVIE</p>
              </a>
            </div>
          </li>

          <li class="p-header__menuItem">
            <div class="p-menuItem">
              <a href="./index.html" class="c-link">
                  <p class="p-menuItem__label__primary">よくあるご質問</p>
                  <p class="p-menuItem__label__secondary">Q&A</p>
              </a>
            </div>
          </li>
        </ul>
      </nav>

      <div class="p-header__links">
        <a href="./index.html" class="c-link">
          <div class="p-qrCode">
            <p class="p-qrCode__label">QRコード発行</p>
          </div>
        </a>  
      </div>

    </div>
  </section>
</header>

<main class="l-main">
  <section class="p-menuBar">
    <div class="p-menuBar__wrap">

      <a class="p-main__logo" href="./index.html">
        <img src="./assets/images/logo-name.png">
      </a>

      <nav class="p-menuBar__nav">
        <ul class="p-menuBar__navMenu">
          <li class="p-menuBar__navItem">
          <a href="./index.html" class="p-navItem">
              <p class="p-navItem__label--primary">TOP/上映スケジュール</p>
              <p class="p-navItem__label--secondary">TOP/SCHEDULE</p>
          </a>
          </li>

          <li class="p-menuBar__navItem">
          <a href="./index.html" class="p-navItem">
              <p class="p-navItem__label--primary">ニュース</p>
              <p class="p-navItem__label--secondary">NEWS</p>
          </a>
          </li>

          <li class="p-menuBar__navItem">
          <a href="./index.html" class="p-navItem">
              <p class="p-navItem__label--primary">劇場作品一覧</p>
              <p class="p-navItem__label--secondary">MOVIES</p>
          </a>
          </li>

          <li class="p-menuBar__navItem">
          <a href="./index.html" class="p-navItem">
              <p class="p-navItem__label--primary">前売券情報</p>
              <p class="p-navItem__label--secondary">ADVANCE TICKET</p>
          </a>
          </li>

          <li class="p-menuBar__navItem">
          <a href="./index.html" class="p-navItem">
              <p class="p-navItem__label--primary">料金案内</p>
              <p class="p-navItem__label--secondary">ADMISSION</p>
          </a>
          </li>

          <li class="p-menuBar__navItem">
          <a href="./index.html" class="p-navItem">
              <p class="p-navItem__label--primary">施設案内</p>
              <p class="p-navItem__label--secondary">FLOOR GUIDE</p>
          </a>
          </li>
                
          <li class="p-menuBar__navItem">
          <div class="p-navItem--underBar"></div> 
          <a href="./access.html" class="p-navItem  active">
              <p class="p-navItem__label--primary">アクセス</p>
              <p class="p-navItem__label--secondary">ACCESS</p>
          </a>
          </li>
        </ul>  
      </nav> 
   </div>
  </section>

  <section class="p-access">
    <h1>アクセス</h1>
    <div class="p-access__wrap">
      <div class="p-accessDetail">
        <div class="p-accessDetail__row">
          <p class="p-accessDetail__label">住所</p>
          <p class="p-accessDetail__text">〒000-000<br>東京都東京区東京町0-0-0</p>
        </div>
        <div class="p-accessDetail__row">
          <p class="p-accessDetail__label">電話番号</p>
          <p class="p-accessDetail__text">00-0000-0000(受付時間：10:00～20:00)</p>
        </div>
        <div class="p-accessDetail__row">
          <p class="p-accessDetail__label">アクセス</p>
          <p class="p-accessDetail__text"> <〇〇駅><br>×××出口前</p>
        </div>
      </div>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d51839.97791322624!2d139.66799748062436!3d35.70165158232242!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188d2059b7fd4b%3A0xec61c68fe232efd2!2z5p2x5Lqs6YO95paw5a6_5Yy6!5e0!3m2!1sja!2sjp!4v1789488168625!5m2!1sja!2sjp" 
      width="100%" height="500" style="border:0;" allowfullscreen="allowfullscreen" loading="lazy"></iframe>
    </div>
  </section>  
</main>

<footer class="l-footer">
  <div class="p-footer__wrap">
    <ul class="p-footer__menu">
      <li class="p-footer__menuItem">
        <a href="./index.html" class="c-link">会社概要</a>
      </li>

      <li class="p-footer__menuItem">
        <a href="./index.html" class="c-link">特定商取引法に基づく表記</a>
      </li>

      <li class="p-footer__menuItem">
        <a href="./index.html" class="c-link">利用規約</a>
      </li>

      <li class="p-footer__menuItem">
        <a href="./index.html" class="c-link">プライバシーポリシー</a>
      </li>
    </ul>

    <div class="p-footer__copyright">©CONVICTION CORPORATION 2025</div>
    <div class="p-copyright__container">©CONVICTION ©CONVICTION ©CONVICTION ©CONVICTION</div>
  </div>
</footer>
</body>