<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8" />
  <title>Portfolio Cinema</title>
  <meta name="description" content="<%= description %>" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <script src="./js/script.js"></script>
  <link rel="icon" href="./assets/images/fav.jpg" />
  <title>
    <%= title %>
  </title>
</head>

<body>
<header class="l-header">
  <div class="p-header_wrap">
    <a href="./index.html">
      <img src="p-header_logo" src="./Github_cinema/assets/images/logo.png" alt="CONVICTION">
    </a>
    <button class="p-header_menuButton"></button>
    <nav class="c-header_siteMenu">
    <ul class="c-header_Menu">
      <li class="c-menu">
        <a href="./index.html">
          <div class="menu_item">
            <div class="c-menu_label1">劇場一覧</div>
            <div class="c-menu_label2">THEATERS</div>
          </div>
        </a>
      </li>
      <li class="c-menu">
        <a href="./index.html">
          <div class="menu_item">
            <div class="c-menu_label1">作品一覧</div>
            <div class="c-menu_label2">MOVIE</div>
          </div>
        </a>
      </li>
      <li class="c-menu">
        <a href="./index.html">
          <div class="menu_item">
            <div class="c-menu_label1">よくあるご質問</div>
            <div class="c-menu_label2">Q&A</div>
          </div>
        </a>
      </li>
    </ul>
    </nav>
    <div class="p-header_QRcode">
      <a href="./index.html" class="p-QRcode_link">QRコード発行</a>
    </div>
  </div>
</header>
</body>