<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title><%= title %></title>
  <meta name="description" content="<%= description %>" />
  <link rel="icon" href="./assets/images/fav.jpg" />
  <script src="./assets/js/script.js" defer></script>
  <link rel="stylesheet" href="./assets/stylesheets/style.css">
</head>

<body>
<header class="l-header">
  <div class="p-header__wrap">
    
    <a class="p-header_logo" href="./index.html">
      <img src="./Github_cinema/assets/images/logo.png">
    </a>
    <button class="p-header__menuButton"></button>

    <nav class="p-header__siteMenu">
      <ul class="p-header__menuList">
        <li class="p-header__menuItem">
          <div class="p-menuItem">
            <a href="./index.html" class="c-link">
                <div class="p-menuItem__label--primary">劇場一覧</div>
                <div class="p-menuItem__label--secondary">THEATERS</div>
            </a>
          </div>
        </li>

        <li class="p-header__menuItem">
          <div class="p-menuItem">
            <a href="./index.html" class="c-link">
                <div class="p-menuItem__label--primary">作品一覧</div>
                <div class="p-menuItem__label--secondary">MOVIE</div>
            </a>
          </div>
        </li>

        <li class="p-header__menuItem">
          <div class="p-menuItem">
            <a href="./index.html" class="c-link">
                <div class="p-menuItem__label--primary">よくあるご質問</div>
                <div class="p-menuItem__label--secondary">Q&A</div>
            </a>
          </div>
        </li>
      </ul>
    </nav>

    <div class="p-header__links">
      <a href="./index.html" class="c-link">
        <div class="p-qrCode">
          <div class="p-qrCode__label">QRコード発行</div>
        </div>
      </a>  
    </div>

  </div>
</header>

<main class="l-main">
  <div class="p-main__backGround">
  <div class="p-main__wrap">

    <a class="p-main__logo" href="./index.html">
      <img src="./Github_cinema/assets/images/logo-name.png">
    </a>

    <nav class="p-main__nav">
      <ul class="p-main__navMenu">

          <li class="p-main__navItem">
            <div class="p-navItem">
              <a href="./index.html" class="c-link">
                  <div class="p-navItem__label--primary">TOP/上映スケジュール</div>
                  <div class="p-navItem__label--secondary">TOP/SCHEDULE</div>
              </a>
            </div>
          </li>

          <li class="p-main__navItem">
            <div class="p-navItem">
              <a href="./index.html" class="c-link">
                  <div class="p-navItem__label--primary">ニュース</div>
                  <div class="p-navItem__label--secondary">NEWS</div>
              </a>
            </div>
          </li>

          <li class="p-main__navItem">
            <div class="p-navItem">
              <a href="./index.html" class="c-link">
                  <div class="p-navItem__label--primary">劇場作品一覧</div>
                  <div class="p-navItem__label--secondary">MOVIES</div>
              </a>
            </div>
          </li>

          <li class="p-main__navItem">
            <div class="p-navItem">
              <a href="./index.html" class="c-link">
                  <div class="p-navItem__label--primary">前売券情報</div>
                  <div class="p-navItem__label--secondary">ADVANCE TICKET</div>
              </a>
            </div>
          </li>

          <li class="p-main__navItem">
            <div class="p-navItem">
              <a href="./index.html" class="c-link">
                  <div class="p-navItem__label--primary">料金案内</div>
                  <div class="p-navItem__label--secondary">ADMISSION</div>
              </a>
            </div>
          </li>

          <li class="p-main__navItem">
            <div class="p-navItem">
              <a href="./index.html" class="c-link">
                  <div class="p-navItem__label--primary">施設案内</div>
                  <div class="p-navItem__label--secondary">FLOOR GUIDE</div>
              </a>
            </div>
          </li>
      
          <li class="p-main__navItem">
            <div class="p-navItem">
              <a href="./index.html" class="c-link">
                  <div class="p-navItem__label--primary">アクセス</div>
                  <div class="p-navItem__label--secondary">ACCESS</div>
              </a>
            </div>
          </li>
      </ul>  
    </nav> 
    </div>
  </div>

  <div class="p-main__slider">
    <div class="p-main__slides">
      <div id="slide1" class="c-slide"><img src="./assets/images/slide1.jpeg" alt=""></div>
      <div id="slide2" class="c-slide"><img src="./assets/images/slide2.jpeg" alt=""></div>
      <div id="slide3" class="c-slide"><img src="./assets/images/slide3.jpeg" alt=""></div>
      <div id="slide4" class="c-slide"><img src="./assets/images/slide4.jpeg" alt=""></div>
      <div id="slide5" class="c-slide"><img src="./assets/images/slide5.jpeg" alt=""></div>
      <div id="slide6" class="c-slide"><img src="./assets/images/slide6.jpeg" alt=""></div>
      <div id="slide7" class="c-slide"><img src="./assets/images/slide7.jpeg" alt=""></div>
      <div id="slide8" class="c-slide"><img src="./assets/images/slide8.jpeg" alt=""></div>
      <div id="slide9" class="c-slide"><img src="./assets/images/slide9.jpeg" alt=""></div>
      <div id="slide10" class="c-slide"><img src="./assets/images/slide10.jpeg" alt=""></div>
    </div>

    <div class="p-main__dots">
      <a href="#slide1" class="c-dot"></a>
      <a href="#slide2" class="c-dot"></a>
      <a href="#slide3" class="c-dot"></a>
      <a href="#slide4" class="c-dot"></a>
      <a href="#slide5" class="c-dot"></a>
      <a href="#slide6" class="c-dot"></a>
      <a href="#slide7" class="c-dot"></a>
      <a href="#slide8" class="c-dot"></a>
      <a href="#slide9" class="c-dot"></a>
      <a href="#slide10" class="c-dot"></a>
    </div>
  </div>

    <div class="p-main__opening">
    <div class="p-main__openingWrap">
      <div class="p-main__openingTitle">営業時間</div>
      <div class="p-main__openingSchedule">
        <div class="p-main__openingTime">【8/21（金）～9/3（木）】10:00～</div>
      </div>
    </div>
  </div>

  <div class="p-main__showTimes">
    <div class="p-main__showTimesWrap">
      <div class="p-main__showTimesInner">
        <div class="p-showTimestitle">映画上映スケジュール</div>
          <div class="p-showTimesguide">
            <p class="p-showTimesguide__text">上映スケジュール一覧からご希望の日付、上映開始時間ボタンを押すとオンライン購入画面へ進みます。</p>
            <p class="p-showTimesguide__text">ムビチケの座席引き換えも上映開始時間ボタンを押してお手続きください。</p>
            <p class="p-showTimesguide__text">※車椅子スペースのオンライン販売はございません。車イスユーザー向け、バリアフリー情報は<a href="./index.html" class="c-text">こちら</a>をご確認ください。</P>
            <p class="p-showTimesguide__text"><strong>ご希望日の</strong>3日前から事前購入が可能です。(※一部興行を除く)</p>
              <p class="p-showTimesguide__text">
                <span class="p-showTimesguide__example">(例：１月４日のチケットは、１月１日 ０:００～購入可能)</span>
              </p>
            <p class="p-showTimesguide__text">上映開始時間を過ぎるとオンライン購入はご利用いただけません。</p>
            <p class="p-showTimesguide__text">ご購入完了後のチケットにつきましては、</p>
            <p class="p-showTimesguide__text">お客様のご都合による払い戻し、及び、上映回、作品、座席の変更は一切できません。</p>
            <p class="p-showTimesguide__text">また、お電話でのお座席の予約はお受けできません、ご了承ください。</p>
          </div>
      </div>
      </div>
    </div>
  </div>

<div class="p-main__dateCarousel">
    <div class="p-main__dateCarousel__arrow">
      <div class="p-main__carouselArrow--prev"></div>
    </div>

    <div class="p-main__dateCarousel--swiper">
      <div class="p-main__datesWarp">
        <div class="p-main__dates">

          <div class="p-dateItem">
            <div class="p-dateItem__box">
              <span class="p-dateItem__day">08/30</span>
              <span class="p-dateItem__week">(日)</span>
              <span class="p-dateItem__text"></span>
            </div>
          </div>

          <div class="p-dateItem">
            <div class="p-dateItem__box">
              <span class="p-dateItem__day">09/01</span>
              <span class="p-dateItem__week">(月)</span>
            </div>
          </div>

          <div class="p-dateItem">
            <div class="p-dateItem__box">
              <span class="p-dateItem__day">09/02</span>
              <span class="p-dateItem__week">(火)</span>
            </div>
          </div>

          <div class="p-dateItem">
            <div class="p-dateItem__box">
              <span class="p-dateItem__day">09/03</span>
              <span class="p-dateItem__week">(水)</span>
            </div>
          </div>

          <div class="p-dateItem">
            <div class="p-dateItem__box">
              <span class="p-dateItem__day">09/04</span>
              <span class="p-dateItem__week">(金)</span>
            </div>
          </div>

          <div class="p-dateItem">
            <div class="p-dateItem__box">
              <span class="p-dateItem__day">09/05</span>
              <span class="p-dateItem__week">(土)</span>
            </div>
          </div>

          <div class="p-dateItem">
            <div class="p-dateItem__box">
              <span class="p-dateItem__day">09/06</span>
              <span class="p-dateItem__week">(日)</span>
            </div>
          </div>

          <div class="p-dateItem">
            <div class="p-dateItem__box">
              <span class="p-dateItem__day">09/07</span>
              <span class="p-dateItem__week">(月)</span>
            </div>
          </div>

        </div>
      </div>

    </div>
    <div class="p-main__dateCarousel__arrow">
      <dvi class="p-main__carouselArrow--nxet"></div>
    </div>
  </div>

</main>

<footer class="l-footer">
  <div class="p-footer__wrap">
    <ul class="p-footer__menu">
      <li class="p-footer__menuItem">
        <a href="./index.html" class="c-link">会社概要</a>
      </li>

      <li class="p-footer__menuItem">
        <a href="./index.html" class="c-link">特定商取引法に基づく表記</a>
      </li>

      <li class="p-footer__menuItem">
        <a href="./index.html" class="c-link">利用規約</a>
      </li>

      <li class="p-footer__menuItem">
        <a href="./index.html" class="c-link">プライバシーポリシー</a>
      </li>
    </ul>

    <div class="p-footer__copyright">©KADOKAWA CORPORATION 2025</div>
    <div class="p-copyright__container">©WOWOW ©KADOKAWA ©KADOKAWA ©KADOKAWA</div>
  </div>
</footer>



</body>