<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title><%= title %></title>
  <meta name="description" content="<%= description %>" />
  <link rel="icon" href="./assets/images/fav.jpg" />
  <script src="./assets/js/script.js" defer></script>
  <link rel="stylesheet" href="./assets/stylesheets/style.css">
</head>

<body>
<header class="l-header">
  <div class="p-header__wrap">
    
    <a class="p-header_logo" href="./index.html">
      <img src="./Github_cinema/assets/images/logo.png">
    </a>
    <button class="p-header__menuButton"></button>

    <nav class="p-header__siteMenu">
      <ul class="p-header__menuList">
        <li class="p-header__menuItem">
          <a href="./index.html" class="c-link">
            <div class="p-menuItem">
              <div class="p-menuItem__label--primary">劇場一覧</div>
              <div class="p-menuItem__label--secondary">THEATERS</div>
            </div>
          </a>
        </li>

        <li class="p-header__menuItem">
          <a href="./index.html" class="c-link">
            <div class="p-menuItem">
              <div class="p-menuItem__label--primary">作品一覧</div>
              <div class="p-menuItem__label--secondary">MOVIE</div>
            </div>
          </a>
        </li>

        <li class="p-header__menuItem">
          <a href="./index.html" class="c-link">
            <div class="p-menuItem">
              <div class="p-menuItem__label--primary">よくあるご質問</div>
              <div class="p-menuItem__label--secondary">Q&A</div>
            </div>
          </a>
        </li>
      </ul>
    </nav>

    <div class="class="p-header__links">
      <a href="./index.html">
        <div class="p-qrCode">
          <div class="p-qrCode__label">QRコード発行</div>
        </div>
      </a>  
    </div>

  </div>
</header>
</body>