@charset "utf-8";

*,
::before,
::after {
  padding: 0;
  margin: 0;
}

.l-header {
  background-color:#354756;
}

.p-header__wrap {
  max-width: 1100px;
  height: 90px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.p-header__menuButton {
  display: none;
}

.p-header__logo {
  display: block;
  width: 220px;
  height: 42px;
}

.p-header__logo img {
  width: 220px;
  height: 42px;
  object-fit: contain;
}

.p-header__siteMenu {
  display: block;  
  margin: 0 0 0 auto;
}

.p-header__links {
  display: block;
}

.p-header__menuList {
  list-style: none;
  display: flex;
  color: #FFFFFF;
}

.p-header__menuItem {
  margin-left: 22px;
}

.p-header__menuItem:nth-child(3) {
  margin-right: 22px;
}

.p-menuItem:hover {
  opacity: 0.6;
}

.p-menuItem__label__primary {
  font-size: 16px;
  font-weight: 700;
}

.p-menuItem__label__secondary {
  font-size: 10px;
  text-align: center;
}

.p-qrCode {
  display: flex;
}

.p-qrCode:hover {
  opacity: 0.6;
}

.p-qrCode__label {
  display: block;
  background-color: #19a50d;
  color:#ffffff;
  font-size: 16px;
  border-radius: 10px;
  padding: 14px 12px;
}

.c-link {
  text-decoration: none;
  color: inherit;
}

.l-main {
  background-color:#f0f3f5;
}

.p-menuBar {
  background-color: #55352C;
}

.p-menuBar__wrap {
  width: 100%;
  max-width: 1100px;
  height: 80px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.p-main__logo {
  display: flex;
}

.p-main__logo img {
  width: 220px;
  height: 42px;
  object-fit: contain;
}

.p-menuBar__nav {
  flex: 1;
  min-width: 0;
  margin: 0;
}

.p-menuBar__navMenu {
  list-style: none;
  display: flex;
  align-items: center;
}

.p-menuBar__navItem {
  flex: 1;
  text-align: center;
  position: relative;
}

.p-navItem {
  display: block;
  padding: 23px 10px;
  white-space: nowrap;
  box-sizing: border-box;
  text-decoration: none;
}

.p-navItem.active {
  background-color: #2f1d18;
}

.p-navItem--underBar {
  position: absolute;
  bottom: 0;
  left: 15%;
  width: 70%;
  height: 4px;
  background-color: #fff;
}

.p-navItem__label--primary {
  font-size: 14px;
  font-weight: 700;
  color:#fff
}

.p-navItem__label--secondary {
  font-size: 10px;
  text-align: center;
  color:#fff
}

.p-mainSlider {
  width: 100%;
  overflow: hidden;
}

.p-slides {
  display: flex;
  width: max-content;
  transition: transform 0.5s ease;
}

.p-slides::-webkit-scrollbar {
  display: none;
}

.c-slide {
  opacity: 0.4;
  transition: opacity 0.3s ease;
}

.c-slide.active {
  opacity: 1;
}

.c-slide img {
  display: block;
}

.c-slide img:hover {
  opacity: 0.8;
  transition: opacity 0.1s ease;
}

.p-slidesBots {
  text-align: center;
}

.c-dot {
  display: inline-block;
  width: 50px;
  height: 6px;
  background: #ccc;
  border-radius: 10px;
  margin: 0 0 0 10px;
}

.c-dot:hover {
  background: #666;
}

.c-dot.active {
  background: #007bff;
}

.p-showTimesguide__example {
  color: #F06666;
}

.p-opening {
  max-width: 1100px;
  margin: 20px auto 0;
  background-color: #ffffff;
  border-radius: 10px;
}

.p-opening__wrap {
  display: flex;
  align-items: center;
  padding: 14px 20px;
}

.p-openingTitle {
  min-width: 110px;
  font-size: 20px;
  font-weight: 700;
}

.p-showTimesWrap {
  max-width: 1100px;
  margin: 0 auto;
}

.p-showTimestitle {
  margin: 30px 0;
  font-size: 24px;
  font-weight: 700;
}

.p-showTimesguide {
  margin-bottom: 30px;
}

.p-showTimesguide--break {
  word-break: break-all;
}

.p-showTimesguide__text {
  margin: 0 0 5px;
}

.p-showTimesguide__text:nth-child(3) {
  margin-bottom: 25px;
}

.p-showTimesguide__text:nth-child(6) {
  margin-bottom: 25px;
}

.p-showTimesguide__text:last-child {
  margin-bottom: 0;
}

.p-dateTransform__arrow {
  position: relative;
  width: 30px;
  min-width: 30px;
  flex-shrink: 0;
  background-color: #0d3fa5;
  border-radius: 10px;
}

.p-arrow--prev,
.p-arrow--next {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-radius: 8px;
}

.p-arrow--prev::before,
.p-arrow--prev::after,
.p-arrow--next::before,
.p-arrow--next::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 2px;
  background-color: #0d3fa5;
}

.p-arrow--prev::before {
  top: 4px;
  right: 4px;
  transform: rotate(-45deg);
}

.p-arrow--prev::after {
  top: 10px;
  right: 4px;
  transform: rotate(45deg);
}

.p-arrow--next::after {
  top: 4px;
  left: 4px;
  transform: rotate(45deg);
}

.p-arrow--next::before {
  top: 9px;
  left: 5px;
  transform: rotate(-45deg);
}

.p-dateTransform {
  display: flex;
  align-items: stretch;
  column-gap: 10px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 20px;
}

.p-dateTransform--swiper {
  position: relative;
  flex: 1;
  min-width: 0;
  overflow: hidden;
  background-color: #fff;
  border-radius: 10px;
  padding: 8px 0;
  box-sizing: border-box;
}

.p-dateTransform__warp {
  width: 100%;
  overflow-x: hidden;
}

.p-dateTransform__dates {
  display: flex;
  gap: 30px;
  width: max-content;
}

.p-dateItem {
  flex-shrink: 0;
  width: 145px;
}

.p-dateItem__box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px 8px 30px;
  color: #000;
  text-decoration: none;
  border: 1px solid #ececec;
  border-radius: 10px;
  box-shadow: 0 1px 2px 0 #c7c7c7;
  background-color: #fff;
  cursor: pointer;
}

.p-dateItem__day {
  font-size: 30px;
  font-weight: 700;
}

.p-dateItem__week {
  font-size: 20px;
}

.p-scheduleTitle {
  font-size: 20px;
  font-weight: 700;
}

.p-scheduleTab__wrap {
  display: flex;
  font-size: 24px;
  font-weight: 700;
}

.p-scheduleTab__wrap .tab {
  display: block;
  flex: 1;
  text-align: center;
  cursor: pointer;
  padding: 15px 0;
  color: #999;             
  border-bottom: 3px solid #ccc; 
  transition: all .3s ease;   
}

.p-scheduleTab__wrap .tab.active {
  color:#000;
  border-bottom-color: #0d3fa5;
}

.tab-panel {
  display: none;
  transform: translateY(10px);
  pointer-events: none;
  transition: opacity .3s ease, transform .3s ease;
}

.tab-panel.active {
  display: block;
  transform: translateY(0);
  pointer-events: auto;
}

.p-main__scheduleWrap label {
  display: block;
  flex: 1;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
}

.p-tabTitle {
  color: #000;
  border-bottom: 3px solid #0d3fa5;
  padding-bottom: 10px;
}

.p-tabContent {
  display: block;
  margin-top: 30px;
}

.p-tabContent__wrap:nth-child(2) {
  padding: 20px;
  background-color: #fff;
}

.p-contentItem {
  position: relative;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
}

.p-contentToggle {
  display:none;
} 

.p-contentTitle {
  margin-bottom: 20px;
}

.p-tabContent__title {
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
}

.p-tabContent__description {
  margin-left: 16px;
  font-size: 16px;
  font-weight: 400;
}

.p-contentSchedule {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.p-scheduleBox {
  padding: 14px;
  background-color: #0d3fa5;
  text-align: center;
  color: #fff;
  border-radius: 10px;
}

.p-scheduleBox__time {
  font-size: 20px;
}

.p-scheduleBox__info {
  font-size: 12px;
}

.p-scheduleBox__purchase {
  font-size: 20px;
}

.p-screeningTime {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 14px;
}

.p-contentLink__display {
  display: flex;
  grid-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
  background-color: #0d3fa5;
  color: #fff;
  align-items: center;
  padding: 34px 30px;
  border-radius: 10px;
}

.p-scheduleBox__start{
font-size:20px;
font-weight:700;
}

.p-scheduleBox__end{
font-size:16px;
margin-top:4px;
}

.p-contentLink {
  position: relative;
  margin-bottom: 20px;
  border-radius: 10px;
}

.p-contentLink .p-scheduleBox__time {
  font-size: 20px;
}

.p-contentLink .p-tabContent__description {
  margin-left: 0;
  font-size: 16px;
  font-weight: 400;
}

.p-contentLink .p-contentTitle {
  margin: 0;
}

.p-scheduleInfo {
  margin-left: auto;
}

.p-main__scheduleInfo .p-main__screeningTime {
  position: static;
  top: auto;
  right: auto;
}

.p-newsContainer,
.p-infoContainer,
.p-membersContainer {
  max-width: 1100px;
  margin: 0 20px;
}

.p-container__title {
  font-weight: 700;
  margin: 20px 0;
}

.p-container__area {
  display: flex;
  grid-gap: 14px;
  gap: 14px;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.p-container__item {
  width: calc(24% - 10px);
  box-sizing: border-box;
}

.p-newsContainer .p-container__item,
.p-membersContainer .p-container__item {
  width: calc(17% - 10px);
  box-sizing: border-box;
}

.p-newsItem__image {
  height: 142px;
  display: flex;
  background-color: rgba(0, 0, 0, .025);
}

.c-image {
  margin: auto;
}

.p-newsItem__title {
  font-size: 14.4px;
  text-align: left;
  word-break: break-all;  
}

.p-container__more {
  text-align: center;
}

.p-container__more:hover {
  opacity: 0.6;
}

.c-more {
  position: relative;
  display: inline-block;
  padding: 20px 160px;
  color: #fff;
  background-color: #0d3fa5;
  text-decoration: none;
  border: 1px solid #ececec;
  border-radius: 10px;
}

.c-more::before {
  content: "";
  background-color: #fff;
  width: 10px;
  height: 3px;
  border-radius: 2px;
  position: absolute;
  right: 20px;
  top: calc(50% - 4px);
  transform: rotate(45deg);
}

.c-more::after {
  content: "";
  background-color: #fff;
  width: 10px;
  height: 3px;
  border-radius: 2px;
  position: absolute;
  right: 20px;
  bottom: calc(50% - 4px);
  transform: rotate(-45deg);  
}

.p-main__snsContainer {
  width: 100%;
  background-color: #fff;
  margin-top: 120px;
}

.p-snsContainer__wrap {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  max-width: 1100px;
  margin: 0 auto;
  padding: 30px 0;
  background-color: #fff;
}

.p-snsContainer__wrap h2 {
  margin: 0 auto 0 0;
}

.p-container__item .c-link {
  display: block;
}

.p-Item__imageWrap {
  width: 100%;
  aspect-ratio: 184 / 142;
  background-color: #0000000A;
  display: flex;
  justify-content: center;
  align-items: center;
}


.p-Item__image {
  margin-right: 0;
}

.p-Item__image:hover {
  opacity: 0.6;
}

.c-icon {
  width: 26px;
}

.p-access {
  max-width: 1100px;
  margin: 0 auto 40px;
}

.p-access h1 {
  padding: 40px 0;
}

.p-access__wrap {
  max-width: 900px;
  margin: 0 auto;
}

.p-accessDetail {
  margin-bottom: 40px;
}

.p-accessDetail__row {
  display: flex;
  padding: 20px;
  font-size: 14px;
  background-color: #f7fafc;
}

.p-accessDetail__row:nth-child(2) {
  background-color: #fff;
}

.p-accessDetail__label {
  width: 160px;
  font-weight: 700;
}

.l-footer {
  background-color: #1D1D1F;
  padding: 30px 0;
  color: #FFFFFF;
  font-size: 12px;
}

.access .l-main {
  padding-bottom: 120px;
}

.p-footer__menu {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0 0 20px;
}

.p-footer__menuItem {
  margin-left: 6px;
}

.p-footer__menuItem .c-link {
  text-decoration: underline;
}

.p-footer__menuItem::before {
  content: "|";
  margin-right: 2px;
}

.p-footer__menuItem:last-child::after {
  content: "|";
  margin-left: 6px;
}

.p-footer__copyright {
  text-align: center;
}

.p-copyright__container {
  font-size: 9.6px;
  text-align: center;
  color: #666;
}

.u-bg-gray {
  background-color: #999;
}

@media screen and (max-width: 320px){
  html,
  body {
    width: 100%;
    max-width: 320px;
    overflow-x: hidden;
  } 

  .p-header__wrap{
    width: 100%;
    max-width: 320px;
    box-sizing: border-box;
    height: 60px;
  }

  .p-header__logo {
    width: 120px;
    height: 42px;  
    margin-left: 20px;
    order: 1;
  }

  .p-header__logo img {
    max-width: 120px;
  }

  .p-header__links {
    display: block;
    margin-left: auto;
    margin-right: 10px;
    order: 2; 
  }

  .p-qrCode__label {
    font-size: 12px;
    padding: 5px 5px;
    border-radius: 6px;
    white-space: nowrap;
  }

  .p-header__menuButton {
    display: block;
    position: relative;
    width: 40px;
    height: 40px;
    border: 0;
    background: transparent;
    flex-shrink: 0;
    order: 3; 
  }

  .p-header__menuButton--line,
  .p-header__menuButton--line::before,
  .p-header__menuButton--line::after {
    content: "";
    position: absolute;
    display: block;
    height: 2px;
    width: 22px;
    background-color: #fff;
  }

  .p-header__menuButton--line::before {
    bottom: 8px;
  }

  .p-header__menuButton--line::after {
    top: 8px;
  }  

  .p-header__siteMenu {
    display: block;
    position: fixed;
    top: 60px;
    left: -100%;
    width: 100%;
    height: calc(100vh - 60px);
    background: rgba(0,0,0,0.8);
    overflow-y:auto;
    transition:left .3s;
    z-index:1000;
  }

  .p-header__siteMenu.is-active {
    left: 0;
  }

  .p-header__menuList {
    display: block;
    list-style: none;
  }

  .p-header__menuItem {
    color: #fff;
    font-size: 24px;
    padding: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
  }

  .p-menuItem {
    padding: 25px 20px;
  }

  .p-menuBar__wrap{
    display:flex;
    flex-direction:column;
    height:auto;
  }

  .p-menuBar__nav{
    flex:none;
    width:100%;
    overflow-x:auto;
    overflow-y:hidden;
    white-space:nowrap;
    scrollbar-width:auto;
  }

  .p-menuBar__navMenu{
    display:flex;
    flex-wrap:nowrap;
    width:max-content;
  }

  .p-menuBar__navItem{
    flex:none;
    min-width:120px;
  }

  .p-menuBar__nav{
    scroll-snap-type:x mandatory;
  }

  .p-menuBar__navItem{
    scroll-snap-align:start;
  }

  .p-navItem {
  padding: 13px 10px;
  }

  .p-navItem__label--primary{
    font-size:12px;
  }

  .p-navItem__label--secondary{
    font-size:9px;
  }

  .c-slide img {
    width: 320px;
    height: 170px;
  }

  .p-dateTransform__dates {
    gap: 15px;
  }

  .p-dateItem {
    width: auto;
  }

  .p-dateItem__box {
  padding: 10px 5px 50px;
  }

  .p-dateItem__day {
    font-size: 20px;
  }

  .p-dateItem__week  {
    font-size: 16px;
  }

  .p-scheduleTitle{
    font-size: 16px;
  }

  .p-scheduleTab__wrap {
    font-size: 16px;
  }

  .p-tabContent__title {
    font-size: 14px;
    font-weight: 300;
  }

    .p-contentSchedule {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    order: 2;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition:
    opacity 1s ease;
    }

    .p-contentSchedule.is-open {
    max-height: 500px;
    opacity: 1;
    margin-top: 10px;
    }

  .p-contentHeader {
    display:flex;
    justify-content:space-between;
    align-items:flex-start;    
  }

  .p-contentToggle {
    display: block;
    border:none;
    background:none;
    font-size:36px;
    cursor:pointer;
    line-height:1;
  }

  .p-contentToggle.is-open{
    font-size:0;
  }

  .p-contentToggle.is-open::before{
    content:"−";
    font-size:36px;
  }

  .p-contentItem {
    display:flex;
    flex-direction:column;
  }

  .p-screeningTime {
    position:static;
    order:1;
  }

  .p-scheduleBox .c-link {
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:20px;
  }

  .p-container__area { 
    display: flex;    
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;    
  }

  .p-container__item {
    width: calc(50% - 5px);
    box-sizing: border-box;
  }

  .p-newsContainer .p-container__item,
  .p-membersContainer .p-container__item {
    width: calc(50% - 5px);
    box-sizing: border-box;
  }

  .p-Item__image {
    width: 70px;
    height: 103px;
  }

   .p-Item__imageWrap {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
  }

  .p-newsItem__title,
  .p-infoItem__title,
  .p-membersItem__title {
    font-size: 12px;
    overflow-wrap: break-word;
    word-break: break-word;
  }

  .c-more {
    padding: 19px 64px;
    font-size: 14px;
  }

  .p-snsContainer {
    margin-top: 100px;
    margin-bottom: -100px;
  }

  .p-snsContainer__wrap {
    display: block;
    padding: 20px;
    text-align: center;
  }

  .p-snsContainer__wrap h2 {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .l-footer {
    margin-top: 100px;
  }

  .p-footer__menu {
    row-gap: 6px;
    flex-wrap: wrap;
  }

  .p-access h1 {
    padding: 30px 0;
    font-size: 24px;
  }

  .p-accessDetail__row {
    display: block;
  }

  .access .l-footer {
    margin: 0;
  }



  


  .p-opening,
  .p-showTimesWrap,
  .p-container,
  .p-access{
    margin-left:15px;
    margin-right:15px;
  }

}