@charset "utf-8";

*,
::before,
::after {
  padding: 0;
  margin: 0;
}

.l-header {
  background-color:#354756;
}

.p-header__wrap {
  max-width: 1100px;
  height: 90px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.p-header__logo {
  height: 42px;
  width: 220px;
}

.p-header__siteMenu {
  margin: 0 0 0 auto;
}

.p-header__menuList {
  list-style: none;
  display: flex;
  color: #FFFFFF;
}

.p-header__menuItem {
  margin-left: 22px;
}

.p-header__menuItem:nth-child(3) {
  margin-right: 22px;
}

.p-menuItem__label--primary {
  font-size: 16px;
  font-weight: 700;
}

.p-menuItem__label--secondary {
  font-size: 10px;
  text-align: center;
}

.p-qrCode {
  display: flex;
}

.p-qrCode__label {
  display: block;
  background-color: #19a50d;
  color:#ffffff;
  font-size: 16px;
  border-radius: 10px;
  padding: 14px 12px;
  text-emphasis: none;
}

.c-link {
  text-decoration: none;
}

.c-link:hover .p-menuItem {
  background-color: #354756;
}

.p-main__wrap {
  max-width: 1100px;
  height: 80px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background-color: #55352C;
}
